.adContainer {
    display: flex;
    padding: 20px;
    background-color: black;
  }
  
  .adContent {
    text-align: center;
  }
  
  .adTitle {
    color: #333; /* 텍스트 색상 설정 */
    font-size: 24px;
  }
  
  .adMessage {
    color: black; /* 텍스트 색상 설정 */
    font-size: 32px;
  }
  
  .btn1 {
    padding: 10px 20px;
    width: 50%;
    height: 42px;
    font-size: 16px;
    background-color: #346aff;
    border: 1px solid #346aff;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    margin: 4px 2px;
    flex: 0 1 auto; /* 버튼이 유연하게 크기를 조정하도록 설정 */
    box-sizing: border-box; /* 크기 계산 포함 */
}


.btn1:hover {
    background-color: #122c64;
    border-color: #122c64;
    color: white;
}
.btn1:hover .btn1_txt {
    background-color: #346aff;
    color: white;
}
.btn1_txt {
    background-color: #346aff;
    color: white;
}

  
  .btn2 {
    margin-top: 10px;
    width: 200px;
    height: 40px;
    font-size: 16px;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    background-color: #346aff;
    color: white;
    line-height: 42px;
    text-decoration: none;
  }
  
  .btn2:hover {
    background-color: #122c64;
    border-color: #122c64;
  }
  
  .btn2:hover .btn2__txt {
    font-weight: bold;
  }
  
  .btn2__txt {
    color: white;
  }
  