.adminContainer {
    background-color: white;
    display: flex;
    justify-content: center;
  }
  
  .adminContainer h2 {
    color: black;
    font-size: 24px;
  }
  .adminContainer h1 {
    color: black;
    font-size: 24px;
  }
  .productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .custom_ad_input {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    justify-content:center;
  }
  
  .custom_ad_input:focus {
    border-color: #007bff;
    box-shadow: 0 2px 6px rgba(0, 123, 255, 0.3);
    outline: none;
  }
  
  .custom_ad_input::placeholder {
    color: #999;
    font-style: italic;
    justify-content: center;
  }
  .btn1 {
    width: 100px;
    height: 40px;
    font-size: 16px;
    border-width: 1px;
    border-color: #346aff;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    background-color: white;
    color: #346aff;
    text-align: center;
    text-justify: center;
    line-height: 42px;
    text-decoration: none;
}


.btn1:hover {
    color: white;
    border-color: #122c64;
    background-color: #122c64;
}
.btn1:hover .btn1_txt {
    color: white;
}
.btn1_txt {
    color: #346aff;
    border-color: #122c64;
}

.btn2 {
    margin-top: 10px;
    width: 200px;
    height: 40px;
    font-size: 16px;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    background-color: #346aff;
    color: white;
    line-height: 42px;
    text-decoration: none;
}

.btn2:hover {
    background-color: #122c64;
    border-color: #122c64;
}

.btn2:hover .btn2__txt {
    font-weight: bold;
}

.btn2__txt {
    color: white;
}

  