/* Cart.css */

/* 로켓배송 상품 타이틀 스타일 */
  .productDetailContainer {
    display: flex;
  }
  .wrap {
    display: flex;
    flex-direction: row;
  }
  .wrap_inner {
    background-color: #fff;
    border: 2px solid #ccc;
    flex-direction: row;
    align-content: flex-start;
  }
  .order {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 10px ;
  }
  .border {
    display: flex;
    flex-direction: row;
    border: 2px solid #ccc; 
    border-color: #ccc;
    padding: 10px;
    margin-right: 60px;
  }
  .borderL {
    border: 2px solid red ; 
    border-left: none ;
    border-color: red;
    padding: 10px;
  }
  /* 로켓배송 상품 배너 스타일 */
  .delivery_enterprise_wrapper {
    display: flex;
    margin-top: 60px;
    flex-direction: row;
  }
  .delivery-enterprise {
    font-size: 14px;
    color: #555;
  }
  
  /* 상품 이미지와 제품 이름 스타일 */
  .cart-deal-item__image img {
    width: 140px;
    height: 140px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .product-name.modify-color {
    font-weight: bold;
    color: #333;
    font-size: 16px;
  }
  
  .btn1 {
    padding: 10px 20px;
    width: 90%;
    height: 42px;
    font-size: 16px;
    background-color: #346aff;
    border: 1px solid #346aff;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    margin: 4px 2px;
    flex: 0 1 auto; /* 버튼이 유연하게 크기를 조정하도록 설정 */
    box-sizing: border-box; /* 크기 계산 포함 */
}


.btn1:hover {
    background-color: #122c64;
    border-color: #122c64;
    color: white;
}
.btn1:hover .btn1_txt {
    background-color: #346aff;
    color: white;
}
.btn1_txt {
    background-color: #346aff;
    color: white;
}

