.descriptions {
    display: flex;
    align-items: flex-start; /* 아이템들을 왼쪽으로 정렬 */
    margin-bottom: 20px;
    flex-direction: column;
  }
  .descriptionsR {
    display: flex;
    justify-content: flex-end; /* 아이템들을 왼쪽으로 정렬 */
    align-items: flex-end; /* 아이템들을 위쪽으로 정렬 */
    margin-bottom: 20px;
    flex-direction: column;
  }
  .box {
    display: flex;
    flex-direction: row; 

  }
  .main {
    display: flex;
    flex-direction: row; 

  }

  .box_line {
    display: flex;
    flex-direction: row;
    border-top: 2px solid #ccc; /* 여기에 색상을 명시적으로 지정합니다 */
    width: 100%; 
    margin-bottom: 20px;
  }

  .title {
    font-size: 26px;
    font-weight: lighter;
    color: #000;
    margin-bottom: 20px;
    text-align: left; /* 텍스트 왼쪽 정렬 */
  }
  .price_value {
    font-size: 20px;
    font-weight: lighter;
    color: #333;
    text-align: right;
  }
  .price_right{
    font-size: 20px;
    font-weight:bold;
    color: black;
    text-align: right;
    
  }
  
  .descriptions-inner {
    display: flex;
    flex-direction: column; /* 아이템들을 세로로 정렬 */
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
    text-align: left; /* 텍스트 왼쪽 정렬 */
  }
  

  