/* ProductDetail.module.css */

.productDetailContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; /* 화면 크기에 따라 요소가 내려가도록 설정 */
}

.productDetailContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
    flex-basis: 100%; /* 전체 너비 차지 */
    text-align: center; /* 가운데 정렬 */
}

.productDetailContainer img {
    border-radius: 8px;
    max-width: 100%; /* 이미지의 최대 너비를 설정하여 부모 요소에 맞춤 */
    height: auto; /* 이미지 비율을 유지 */
}

.productDetailContainer h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.productDetailContainer p {
    font-size: 18px;
    color: #333;
}

.productDetailActions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: nowrap; /* 버튼이 일렬로 배열되도록 설정 */
}

.prod-cart-btn, .prod-buy-btn {
    padding: 10px 20px;
    width: 192px;
    height: 42px;
    font-size: 16px;
    border: 1px solid #346aff;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    margin: 4px 2px;
    flex: 0 1 auto; /* 버튼이 유연하게 크기를 조정하도록 설정 */
    box-sizing: border-box; /* 크기 계산 포함 */
}

.prod-buy-btn {
    background-color: #346aff;
    color: white;
}

.prod-cart-btn {
    background-color: #fff;
    color: #346aff;
}

.productDetailActions button:hover {
    background-color: #122c64;
    border-color: #122c64;
    color: white;
}

/* 반응형 디자인을 위한 미디어 쿼리 추가 */
@media (max-width: 768px) {
    .productDetailContainer {
        flex-direction: column; /* 작은 화면에서는 컬럼 레이아웃으로 변경 */
        align-items: flex-start; /* 좌측 정렬 */
    }

    .productDetailContainer h1,
    .productDetailContainer h2,
    .productDetailContainer p {
        text-align: center; /* 텍스트를 중앙 정렬로 변경 */
        font-size: 18px; /* 폰트 크기를 조정 */
    }

    .productDetailActions {
        flex-wrap: wrap; /* 작은 화면에서도 버튼이 일렬로 배치되지 않게 설정 */
        justify-content: center; /* 중앙 정렬 */
    }

    .prod-cart-btn, .prod-buy-btn {
        width: 100%; /* 버튼이 전체 너비를 차지하도록 설정 */
        height: 42px; /* 버튼 높이를 유지 */
    }
}
